{% load static %}

<!DOCTYPE html>

<html>
    <head>
    <title>C4F</title>
    <link rel="shortcut icon" type='image/png' href="{%  static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Pacifico&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>

<body>

    <div id="header">
        <h2 class="header-title">Captchas 4 Fun</h2>
        <form action="/leaderboard">
            <input class="nav-button" type="submit" value="Leaderboard">
        </form>
        <form action="/logout">
            <input class="nav-button" type="submit" value="Logout">
        </form>
    </div>

    <div id="main-content">
        <p>
            {{ message }}
        </p>
        <br>
        <form action="?" method="POST">
            <div class="g-recaptcha" data-sitekey="6LcvfpohAAAAALwpl5vbB8pTyZ_0459QjfDOq-ua"></div>
            <br/>
            <input type="submit" value="Submit">
          </form>
    </div>

    <div id="footer">
        <p>
            Tip me in WOW: WW4NKaevQg2AFiev5LmQZ2d6VkGJrX2L3heQFMw1aH6TCW3EknbA1jHTXWwd28qTNfRBPqBTRuPBQ8s9cWwtEiY32EWu6eyWQ
        </p>
    </div>

</body>
</html>