{% load static %}

<!DOCTYPE html>

<html>
    <head>
    <title>Index</title>
    <link rel="shortcut icon" type='image/png' href="{%  static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Pacifico&display=swap" rel="stylesheet">
    </head>

<body>

    <h1>Captchas 4 Fun</h1>

    <p>
        Welcome {{ username }}!
        <form action="/logout">
            <input type="submit" value="Logout">
        </form>
    </p>

    <div id="footer">
        
    </div>

</body>
</html>