{% load static %}

<!DOCTYPE html>

<html>
    <head>
    <title>C4F</title>
    <link rel="shortcut icon" type='image/png' href="{%  static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Pacifico&display=swap" rel="stylesheet">
    </head>

<body>

    <div id="header">
        <h2 class="header-title">Captchas 4 Fun</h2>
        <form action="/play">
            <input class="nav-button" type="submit" value="Home">
        </form>
        <form action="/logout">
            <input class="nav-button" type="submit" value="Logout">
        </form>
    </div>

    <div id="main-content">
        <h1>Leaderboard</h1>
        <table>
        {% for item in data %}
            <tr>
                <td>{{ item.name }}:</td><td>{{ item.score }}</td>
                <br>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div id="footer">
        <p>
            Tip me in WOW: WW4NKaevQg2AFiev5LmQZ2d6VkGJrX2L3heQFMw1aH6TCW3EknbA1jHTXWwd28qTNfRBPqBTRuPBQ8s9cWwtEiY32EWu6eyWQ
        </p>
    </div>

</body>
</html>