{% load static %}

<!DOCTYPE html>

<html>
    <head>
    <title>C4F</title>
    <link rel="shortcut icon" type='image/png' href="{%  static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Source+Sans+Pro">
    </head>

<body>

    <div id="header">
        <div class="header-title">
            <h2>Captchas 4 Fun</h2>
        </div>
        <div class="header-buttons">
            <form class="header-form" action="/play">
                <input class="nav-button" type="submit" value="Home">
            </form>
            <form class="header-form" action="/logout">
                <input class="nav-button" type="submit" value="Logout">
            </form>
        </div>
    </div>

    <div id="main-content">
        <h2>Top 10 Humans</h2>
        <table>
        {% for item in data %}
            <tr>
                <td>{{ item.name }}:</td><td>{{ item.score }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div id="footer">
        <p>
            Tip me in WOW: WW4NKaevQg2AFiev5LmQZ2d6VkGJrX2L3heQFMw1aH6TCW3EknbA1jHTXWwd28qTNfRBPqBTRuPBQ8s9cWwtEiY32EWu6eyWQ
        </p>
    </div>

</body>
</html>